.yellow {
  background-color: #ffff00;
  height: 300px;
}

.darkred {
  background-color: #c13f3f;
  height: 300px;
}

.white {
  background-color: #ffffff;
}

.blue {
  background-color: #0000ff;
  height: 300px;
}

.red {
  background-color: #ff0000;
  height: 300px;
}